<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApiKey</key>
	<string>${API_KEY}</string>
	<key>BaseUrl</key>
	<string>${BASE_URL}</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Barlow-Bold.ttf</string>
		<string>Barlow-Regular.ttf</string>
		<string>Barlow-Medium.ttf</string>
		<string>Barlow-SemiBold.ttf</string>
		<string>BarlowCondensed-Black.ttf</string>
		<string>BarlowCondensed-Bold.ttf</string>
		<string>BarlowCondensed-ExtraBold.ttf</string>
		<string>BarlowCondensed-Medium.ttf</string>
		<string>BarlowCondensed-SemiBold.ttf</string>
		<string>Rubik-SemiBold.ttf</string>
	</array>
</dict>
</plist>
