//
//  Debug.xcconfig
//  beschool
//
//  Created by Igor Squadra on 16/12/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// DEBUG CONFIGURATION

PROJECT_NAME = BESCHOOL
CONFIGURATION_NAME = DEBUG
APP_NAME = BeSchool-Debug
APP_VERSION = 1.0.0
CURRENT_PROJECT_VERSION = 1
APP_BUNDLE_ID = com.igorsquadra.beschool-debug
BASE_URL = https:\/\/servicetest3.edo.io/school/
API_KEY = V9AwxnQXsQYU
