//
//  Production.xcconfig
//  beschool
//
//  Created by Igor Squadra on 16/12/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// PRODUCTION CONFIGURATION

PROJECT_NAME = BESCHOOL
CONFIGURATION_NAME = PRODUCTION
APP_NAME = BeSchool
APP_VERSION = 1.0.0
CURRENT_PROJECT_VERSION = 1
APP_BUNDLE_ID = com.igorsquadra.beschool
BASE_URL =
API_KEY =
